#app {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

* {
  font-size: 0.85rem;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

body {
 background-color: #F0EFE9;
}

.card-body {
  background-color: #fff;
}

.card-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 0px 15px 0px 15px;
}

.card-title > h6 {
  padding-top: 10px;
}

.card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}

.things div {
  cursor: move;
  font-size: 1.1rem;
  margin: 8px 0px 8px 0px;
}

/* input[type=checkbox] {
    visibility: hidden;
} */

.date {
  display: inline-flex;
  font-weight: 600;
  font-size: 2.1rem;
}

.date h6 {
  margin: 0px 0px 0px 3px;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid #50E3A4;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #48C690;
}

.checkbox-button {
    width: 6em;
    height: 6em;
    background-color: #50E3A4;
    border-radius: 50%;
    vertical-align: middle;
    border: 20px solid #48C690;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 93%;
    left: 40%;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.3)
}

.checkbox-button:checked {
    background-color: #48C690;
    border: 20px solid #50E3A4;
}

.btn-primary {
  background-color: #48C690 !important;
  border-color: #50E3A4 !important;
}
